<h1>Listando Prioridades</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prioridads.each do |prioridad| %>
  <tr>
    <td><%= prioridad.nombre %></td>
    <td><%= prioridad.descripcion %></td>
    <td><%= link_to 'Ver', prioridad %></td>
    <td><%= link_to 'Editar', edit_prioridad_path(prioridad) %></td>
    <td><%= link_to 'Eliminar', prioridad, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Prioridad', new_prioridad_path %>
