<%= form_for(@pase) do |f| %>
  <% if @pase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pase.errors.count, "error") %> prohibited this pase from being saved:</h2>

      <ul>
      <% @pase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :recibido %>
    <%= f.check_box :recibido %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
